body {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', sans-serif;
    background-image: url('images/image-font.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 500px;
}

h1 {
    color: #F1DBBC;
    font-size: clamp(40px, 10vw, 70px);
    letter-spacing: 3px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

.btn {
    background: #D9B98C;
    border: none;
    color: #00373C;
    padding: 14px 38px;
    font-size: clamp(16px, 4vw, 22px);
    border-radius: 50px;
    cursor: pointer;
    display: block;
    text-align: center;

    width: 80%;
    max-width: 300px;
    margin: 15px auto;

    box-shadow: 0 10px 25px rgba(224, 223, 119, 0.4);
    transition: transform .2s, box-shadow .2s;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(197, 193, 129, 0.5);
}

.falling-text-container {
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
}

.falling-text {
    position: absolute;
    top: -120px;
    font-size: 20px;
    font-weight: bold;
    color: #F1DBBC;
    white-space: nowrap;
    animation: fallAnim linear forwards;
}

@keyframes fallAnim {
    0% {
        transform: translateY(-150px) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}

@media (min-width: 900px) {
    h1 {
        margin-bottom: 60px;
    }
    .btn {
        margin: 20px auto;
    }
}

@media (max-width: 350px) {
    .btn {
        padding: 14px 20px;
        width: 90%;
    }
}
